article {
    display: flex;
    font-size: 1.1em;
    text-align: right;
    gap: 20px;
    flex-direction: column;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
    text-align: right;
}